
input{
    width: 500px;
    border-radius: 5px;
    position: relative;
    top: -20px;
    left: 200px;
    padding: 10px;
    

    
    
    
}
button{
    width: 100px;
    position: relative;
    bottom: 55px;
    left: 1000px;
    border-radius: 5px;
    padding: 10px;
    
}
ul{
    position: fixed;
    top:60px ;
    left: -15px;
    color: whitesmoke;


    
}
 #fm{
     position: relative;
    bottom:20px ;
    left: 110px;
    margin: auto; 

    
}
body{

  
}
#xxxZ{
    
    
    
}
#mustufa{
    text-decoration: underline;
    text-shadow: 1px 1px; 
    margin: 250px;
    background-image: url(./WhatsApp\ Image\ 2022-03-16\ at\ 8.43.36\ PM.jpeg);
    color: whitesmoke;

    

}

}
#hhh{
    text-decoration:overline;
    margin: 300px;
    padding: 200px;
}
a{
    text-decoration: none;
    color: black;
}